# This file describes setup for library development

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
datalake-metadata = {file = ".", editable = true}

[dev-packages]
coverage = "*"
pytest = "*"

[requires]
python_version = "3.11"

[scripts]
test = "pytest"
